{% extends "base.html" %} {% block title %} Categoria{% endblock title %}
Categoria {%block content %}

<h2>Categorias</h2>

<a href="{% url 'categoria-create' %}" class="btn btn-primary mb-3">
  Nova categoria
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Acoes</th>
    </tr>
  </thead>

  <tbody>
    {% for categoria in categorias %}
    <tr>
      <td>{{ categoria.nome }}</td>
      <td>
        <a
          href="{% url 'categoria-update' categoria.pk %}"
          class="btn btn-warning btn-sm"
          >Editar</a
        >
        <a
          href="{% url 'categoria-delete' categoria.pk %}"
          class="btn btn-danger btn-sm"
          >Excluir</a
        >
      </td>
    </tr>
    {%empty%}
    <tr>
      <td colspan="2">Nenhuma categoria cadastrada</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock content %}
