{% extends "base.html" %} {% block title %}Produtos{% endblock title %}Produtos
{% block content %}

<h2>Produtos</h2>

<a href="{% url 'produto-create' %}" class="btn btn-primary mb-3">
  Novo produto
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for produto in produtos %}
    <tr>
      <td>{{ produto.nome }}</td>
      <td>R$ {{ produto.preco }}</td>
      <td>{{ produto.quantidade }}</td>
      <td>{{ produto.categoria.nome }}</td>
      <td>
        <a
          href="{% url 'produto-updated' produto.pk %}"
          class="btn btn-warning btn-sm"
        >
          Editar
        </a>
        <a
          href="{% url 'produto-delete' produto.pk %}"
          class="btn btn-danger btn-sm"
        >
          Excluir
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">Nenhum produto cadastrado</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
