{% extends 'base.html' %}
{% block content %}Cadastro


<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Criar Conta</h4>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Usuário</label>
                        <input 
                        type="text"
                        id="username"
                        name="username"
                        class="form-control"
                        placeholder="Escolha um usuário"
                        required
                    />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input 
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="digite eu email"
                    />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input 
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Crie uma senha"
                        required
                    />
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirme sua senha</label>
                        <input 
                        type="password"
                        id="password2"
                        name="password2"
                        class="form-control"
                        placeholder="Confirme a senha"
                        required
                    />
                    </div>

                    <button type="submit" class="btn btn-success w-100">Cadastrar</button>
                </form>
                <hr/>
                <p class="text-center mb-0">
                    Já tem conta? <a href="{% url 'login'%}">Faça login</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}